
nav {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background-color: #333; 
  padding: 10px 20px;
}


nav img {
  width: 80px; 
  height: auto;
  margin-right: 20px;
}


nav ul {
  display: flex;
  list-style: none; 
  padding: 0;
  margin: 0;
  gap: 20px; 
}

nav ul a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}


nav ul li h3 {
  margin: 0;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

nav ul li h3:hover {
  color: #f8b400; 
}
nav .cartwidget {
  display: flex;
  margin-left: auto;
}
nav .cartwidget a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
